
.counter {
    z-index: 700;
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    z-index: 700;
}

.count-text {
    font-size: 17px;
    font-weight: bold;
    /*text-shadow: 2px 2px #fff;*/
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

.b-0 {
    bottom: 0;
}

.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

.top-indicator {
    right: 0;
    top: 1rem;
    bottom: inherit;
    left: inherit;
    margin-right: 1rem;
}

.overflow {
    position: relative;
    overflow: hidden;
}

.zoom img {
    transition: all 0.2s linear;
}

.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.feather {
    width: 20px;
    height: 20px;
}

.btn-card:hover {
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px blue;
    box-shadow: 0 0 10px darkblue;
    transition: 0.5s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.modal-image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
